import { GetServerSideProps } from "next";
import { useSession, useLogout } from "@lib/auth/data/authHooks";
import { requireAuth } from "@lib/auth/data/requireAuth";

export const ProtectedPage = () => {
  const { data } = useSession();
  const { mutate } = useLogout();
  return (
    <div>
      <h1>You are logged in as:</h1>
      <pre>{JSON.stringify(data?.user, null, 2)}</pre>
      <button onClick={() => mutate()}>Logout</button>
    </div>
  );
};

export const getServerSideProps: GetServerSideProps = async (context) => {
  const res = await requireAuth(context);
  return res;
};

export default ProtectedPage;
