import { AuthForm } from "@lib/auth/ui/AuthForm";

export const LoginPage = () => {
  return (
    <>
      <h1>Login</h1>
      <AuthForm authType="login" submitButtonText="login" />
    </>
  );
};

export default LoginPage;
