import { AuthForm } from "@lib/auth/ui/AuthForm";

const Page = () => {
  return (
    <main className="container">
      <hgroup>
        <h1>Request Password Reset</h1>
        <h2>Authentication generated with FX</h2>
      </hgroup>
      <AuthForm
        authType="request"
        submitButtonText="Request Password Reset"
      />
    </main>
  );
};

// Some basic styles, remove this block after generation.
Page.getLayout = (page: React.ReactElement) => {
  return (
    <>
      <link
        rel="stylesheet"
        href="https://unpkg.com/headlesscss@latest/css/headless.min.css"
      />
      <style global jsx>{`
        .container {
          padding: 6rem 1rem;
          max-width: 360px;
          margin: 0 auto;
        }

        .center {
          text-align: center;
        }
      `}</style>
      {page}
    </>
  );
};

export default Page;
