import { AuthForm } from "@lib/auth/ui/AuthForm";

const Page = () => {
  return (
    <main className="container">
      <article>
        <div>
          <hgroup>
            <h1>Sign Up</h1>
            <h2>Authentication generated with FX</h2>
          </hgroup>
          <AuthForm authType="signup" submitButtonText="Sign up" />
        </div>
      </article>
    </main>
  );
};


// Some basic styles, remove this block after generation.
Page.getLayout = (page: React.ReactElement) => {
  return (
    <>
      <link
        rel="stylesheet"
        href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
      />
      {page}
    </>
  );
};

export default Page;
