import { GetServerSideProps } from "next";
import { useSession, useLogout } from "@lib/auth/data/authHooks";
import { pageRequiresAuth } from "@lib/auth/data/requireAuth";

const Page = () => {
  const { data } = useSession();
  const { mutate } = useLogout();
  return (
    <div>
      <h1>You are logged in as:</h1>
      <pre>{JSON.stringify(data?.user, null, 2)}</pre>
      <button onClick={() => mutate()}>Logout</button>
    </div>
  );
};

export const getServerSideProps: GetServerSideProps = async (context) => {
  const res = await pageRequiresAuth(context);
  return res;
};

// Some basic styles, remove this block after generation.
Page.getLayout = (page: React.ReactElement) => {
  return (
    <>
      <link
        rel="stylesheet"
        href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
      />
      {page}
    </>
  );
};

export default Page;
