import { useSignup, useLogin, AuthInput } from "@lib/auth/data/authHooks";

type Props = {
  authType: "signup" | "login";
  submitButtonText: React.ReactNode;
};

export const AuthForm = ({ authType, submitButtonText }: Props) => {
  const { mutate: signup } = useSignup("/protected");
  const { mutate: login } = useLogin("/protected");

  const handleSubmit = (e: React.FormEvent) => {
    e.preventDefault();
    const data = new FormData(e.target as HTMLFormElement);
    const input = Object.fromEntries(data.entries()) as AuthInput;
    const action = authType === "signup" ? signup : login;
    action(input);
  };

  return (
    <form onSubmit={handleSubmit}>
      <input name="email" type="email" placeholder="Email" />
      <input name="password" type="password" placeholder="Password" />
      <button type="submit">{submitButtonText}</button>
    </form>
  );
};
